<?xml version="1.0" encoding="UTF-8"?>
<web.plugin>
    <!--pc、tablet、mobile-->
    <plugin.type>pc</plugin.type>
    <!--  -->
    <target.default>_opener_tab</target.default>
	<controllers>
	<!-- 把系统默认的控制器对应为插件体系下的控制器 -->
		<controller name="com.exedosoft.plat.ui.jquery.menu.MainMenu">com.exedosoft.plat.ui.bootstrap.menu.MainMenu</controller>
		
		<controller name="com.exedosoft.plat.ui.jquery.pane.ContentPane">com.exedosoft.plat.ui.weui.pane.ContentPane</controller>
		<controller name="com.exedosoft.plat.ui.jquery.pane.ContentPaneRightBorder">com.exedosoft.plat.ui.weui.pane.ContentPane</controller>
		<controller name="com.exedosoft.plat.ui.jquery.pane.ContentPaneScroll">com.exedosoft.plat.ui.weui.pane.ContentPane</controller>
		<controller name="com.exedosoft.plat.ui.jquery.pane.ContentPaneScrollRightBorder">com.exedosoft.plat.ui.weui.pane.ContentPane</controller>
		
		<controller name="com.exedosoft.plat.ui.jquery.grid.GridList">com.exedosoft.plat.ui.weui.grid.GridList</controller>
		<controller name="com.exedosoft.plat.ui.jquery.grid.GridListStyle2">com.exedosoft.plat.ui.weui.grid.GridList</controller>
		<controller name="com.exedosoft.plat.ui.jquery.grid.GridListOld">com.exedosoft.plat.ui.weui.grid.GridList</controller>
		
		<controller name="com.exedosoft.plat.ui.jquery.grid.GridSupportMore">com.exedosoft.plat.ui.weui.grid.GridDetails</controller>
		<controller name="com.exedosoft.plat.ui.bootstrap.grid.GridFormTable">com.exedosoft.plat.ui.weui.grid.GridForm</controller>
		
		<controller name="com.exedosoft.plat.ui.jquery.form.DOSectionLabel">com.exedosoft.plat.ui.weui.form.TSectionLabel</controller>
		<controller name="com.exedosoft.plat.ui.jquery.form.DOStaticList">com.exedosoft.plat.ui.weui.form.TSelect</controller>
		<controller name="com.exedosoft.plat.ui.jquery.form.DOStaticListPopup">com.exedosoft.plat.ui.weui.form.TSelect</controller>
		<controller name="com.exedosoft.plat.ui.jquery.form.DOResultListPopup">com.exedosoft.plat.ui.weui.form.TSelect</controller>
		<controller name="com.exedosoft.plat.ui.jquery.form.DOResultListPopupNoSplitPage">com.exedosoft.plat.ui.weui.form.TSelect</controller>
		<controller name="com.exedosoft.plat.ui.jquery.form.DOResultListPopupNoSplitPageNoDefault">com.exedosoft.plat.ui.weui.form.TSelect</controller>
		<controller name="com.exedosoft.plat.ui.jquery.form.DOResultListPopupAll">com.exedosoft.plat.ui.weui.form.TSelect</controller>
		<controller name="com.exedosoft.plat.ui.jquery.form.DOResultListPopupPml">com.exedosoft.plat.ui.weui.form.TSelect</controller>
		<controller name="com.exedosoft.plat.ui.jquery.form.DOValueResultList">com.exedosoft.plat.ui.weui.form.DOValueResultList</controller>
	
		<controller name="com.exedosoft.plat.ui.jquery.form.DOInputCheckBox">com.exedosoft.plat.ui.weui.form.TSwitch</controller>
		<controller name="com.exedosoft.plat.ui.jquery.form.DOInputCheckBoxList">com.exedosoft.plat.ui.weui.form.TCheckBox</controller>
		<controller name="com.exedosoft.plat.ui.jquery.form.DOInputRadio">com.exedosoft.plat.ui.weui.form.TInputRadio</controller>
		<controller name="com.exedosoft.plat.ui.jquery.form.DOInputText">com.exedosoft.plat.ui.weui.form.TInputText</controller>
		<controller name="com.exedosoft.plat.ui.jquery.form.my97.DatePicker">com.exedosoft.plat.ui.weui.form.TDate</controller>
		<controller name="com.exedosoft.plat.ui.jquery.form.DOTextArea">com.exedosoft.plat.ui.weui.form.TTextArea</controller>
		

	</controllers>
</web.plugin>